<h4><%=current_user.name%></h4>
<h4>Preferences</h4>
<%= form_for(current_user) do |f| %>
<dl class="dl-horizontal">
  <dt>Theme</dt>
  <dd>
    <%=select_tag 'user[theme]', options_for_select(themes, current_user.theme)%>
  </dd>
</dl>
<%=f.submit class: 'btn btn-default btn-xs' %>
<%end%>